.navbar {
  display: flex;
  justify-content: space-between;
}

.footer {
  text-align: center;
}

.articleBlock__tags {
  margin-right: 5px;
}
.articleBlock__likes {
  margin-left: 5px;
}

.articleBlock {
  width: 30%;
  height: 100%;
  margin-bottom: 10px;
  text-align: center;
  background-color: aquamarine;
}

.login-container {
  text-align: center;
}

.article-container {
  display: flex;
  justify-content: center;
  background-color: burlywood;
  margin: auto;
}
